body {
    /* padding: 8px; */
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;    
}

ul, li {
	margin:2px;
}

ul {
    list-style: none;
    margin-left: -28px;
}

/* .contacts-tree li {
    padding: 4px;
} */

.contactsTree ul > li:hover > div > span{
    background-color: #BAE2F9;
    display: block;
    /* color:white; */
}


