body {
    /* padding: 8px; */
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;    
}

/* a, a:visited {
    text-decoration: none;
    cursor: pointer;
} */

ul, li {
	margin:0px;
}

ul {
    list-style: none;
    margin-left: -28px;
}

.contacts-tree li {
    padding: 4px;
}

.contactsTree ul > li:hover > div > span{
    background-color: #BAE2F9;
    display: block;
    /* color:white; */
}

.listHeader ul > li:hover > div > span{
  background: white;
}
