body {
    /* padding: 8px; */
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;    
}

ul, li {
	margin-bottom:8px;
}

ul {
    list-style: none;
    margin-left: -28px;
}

.contactsTree ul[ng-click]> li:hover > div > span{
    background-color: #BAE2F9;
    display: block;
}

